<%= form_for ([ :my, @project]) do |f| %>

<div class="field">
	<%=f.label :title %>
	<%=f.text_field :title %>
</div>

<div class="field">
	<%=f.label :teaser %>
	<%=f.text_area :teaser %>
</div>

<div class="field">
	<%=f.label :description %>
	<%=f.text_area :description %>
</div>

<div class="field">
	<%=f.label :goal %>
	<%=f.number_field :goal %>
</div>

<div class="actions">
	<%= f.submit "Publish Project" %>
</div>

<% end %>